{% extends 'bases/base.html.twig' %}

{% block title %}
    Engal | {{ name }}
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Random</a>
                </li>
            </ul>
        </div> 
        <div class="d-flex">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-3">
                    <a class="nav-link" href="#">Settings</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<center>
    <div id="lightgallery">
        {% for value in images %}
            <a href="data:image/jpeg;base64,{{ value.image }}" data-lg-size="1600-2400">
                <img class="gallery-images" alt={{ value.name }} src="data:image/jpeg;base64,{{ value.image }}" />
            </a>
        {% endfor %}
    </div>
</center>

<!-- import lightgallery js -->
<script src={{ asset('/build/lightgallery/js/lightgallery.js') }}></script>
<script src={{ asset('/build/lightgallery/js/lg-pager.js') }}></script>
<script src={{ asset('/build/lightgallery/js/lg-autoplay.js') }}></script>
<script src={{ asset('/build/lightgallery/js/lg-fullscreen.js') }}></script>
<script src={{ asset('/build/lightgallery/js/lg-zoom.js') }}></script>

<!-- init lightgallery -->
<script>
   lightGallery(document.getElementById('lightgallery'));
</script>

{% endblock %}