{% extends 'bases/base.html.twig' %}

{% block title %}
    Engal | {{ name }}
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery/_1337_all/1">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery/_1337_random">Random</a>
                </li>
            </ul>
        </div> 
        <div class="d-flex">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-3">
                    <a class="nav-link" href="#">Settings</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<center>
    <div id="lightgallery">
        <div class="lg-custom-toolbar-item"></div>
        {% for value in images %}
            <a href="data:image/jpeg;base64,{{ value.image }}" data-sub-html="{{ value.name }} <a href='/' class='img-edit-button'>delete</a>">
                <img class="gallery-images" alt={{ value.name }} src="data:image/jpeg;base64,{{ value.image }}" />
            </a>
        {% endfor %}
    </div><br><br>

    {% if name != '_1337_random' %}
        <div class="page-button-box bg-dark">
            {% if page != 1 %}
                <a class="page-button" href="/gallery/{{name}}/{{ page - 1 }}">BACK</a>
            {% endif %}
            
            {% if images|length == limit %}
                <a class="page-button" href="/gallery/{{name}}/{{ page + 1 }}">NEXT</a>
            {% endif %}
        </div>
    {% endif %}

</center>

<!-- import lightgallery js -->
<script src={{ asset('/build/lightgallery/js/lightgallery.js') }}></script>
<script src={{ asset('/build/lightgallery/js/lg-pager.js') }}></script>
<script src={{ asset('/build/lightgallery/js/lg-autoplay.js') }}></script>
<script src={{ asset('/build/lightgallery/js/lg-fullscreen.js') }}></script>
<script src={{ asset('/build/lightgallery/js/lg-zoom.js') }}></script>

<!-- init lightgallery -->
<script>
   lightGallery(document.getElementById('lightgallery'));
</script>

{% endblock %}